#top-nav {
    background: #44a5ee;
}

#top-nav .nav-row {
    padding: 5px 10px;
}

#top-nav .form-group {
    margin-bottom: 0 !important;
}

#top-nav h5 {
    margin: 5px 0 !important;
}

.adv-filter {
    position: relative;
    display: none;
}

.adv-filter #adv-filter-panel {
    position: absolute;
    z-index: 999;
    background: white;
    right: 0;
    left: 0;
    padding: 10px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#container {
    top: 84px;
    right: 450px;
}

#side {
    top: 84px;
}

.navbar-brand {
    padding: 9px;
}

@media (min-width: 1024px){
    input[name='query'] {
    width: 100% !important;
    }
}

.select2-container {
    width: 100% !important;
}

#progress {
    top: 0 !important;
    /*left: 10px !important;
    right: 10px !important;*/
}

#visualization {
    top: 5px;
}